USE [master]
GO
/****** Object:  Database [MultiSportTrainerDB]    Script Date: 5/28/2026 2:32:47 PM ******/
CREATE DATABASE [MultiSportTrainerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MultiSportTrainerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MultiSportTrainerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MultiSportTrainerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MultiSportTrainerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MultiSportTrainerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MultiSportTrainerDB]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 5/28/2026 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[RouteId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SessionId] [int] NULL,
	[RouteType] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteSteps]    Script Date: 5/28/2026 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteSteps](
	[StepId] [int] IDENTITY(1,1) NOT NULL,
	[RouteId] [int] NOT NULL,
	[ConeNumber] [int] NOT NULL,
	[StepOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingResults]    Script Date: 5/28/2026 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingResults](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[Accuracy] [decimal](5, 2) NOT NULL,
	[Mistakes] [int] NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[AverageReactionSeconds] [decimal](5, 2) NULL,
	[BestReactionSeconds] [decimal](5, 2) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingSessions]    Script Date: 5/28/2026 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingSessions](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RouteType] [nvarchar](50) NOT NULL,
	[Difficulty] [nvarchar](50) NOT NULL,
	[TrainingType] [nvarchar](100) NOT NULL,
	[ConesCount] [int] NOT NULL,
	[Rounds] [int] NOT NULL,
	[DistractionsEnabled] [bit] NOT NULL,
	[StartedAt] [datetime] NOT NULL,
	[EndedAt] [datetime] NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/28/2026 2:32:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Role] [nvarchar](50) NOT NULL,
	[SportFocus] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([RouteId], [UserId], [SessionId], [RouteType], [CreatedAt]) VALUES (1, 1, 1, N'Custom', CAST(N'2026-05-27T16:46:58.543' AS DateTime))
INSERT [dbo].[Routes] ([RouteId], [UserId], [SessionId], [RouteType], [CreatedAt]) VALUES (2, 1, 2, N'Custom', CAST(N'2026-05-27T17:34:24.457' AS DateTime))
INSERT [dbo].[Routes] ([RouteId], [UserId], [SessionId], [RouteType], [CreatedAt]) VALUES (3, 1, 2, N'Custom', CAST(N'2026-05-27T17:34:46.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[RouteSteps] ON 

INSERT [dbo].[RouteSteps] ([StepId], [RouteId], [ConeNumber], [StepOrder]) VALUES (1, 1, 3, 1)
INSERT [dbo].[RouteSteps] ([StepId], [RouteId], [ConeNumber], [StepOrder]) VALUES (2, 1, 1, 2)
INSERT [dbo].[RouteSteps] ([StepId], [RouteId], [ConeNumber], [StepOrder]) VALUES (3, 1, 4, 3)
SET IDENTITY_INSERT [dbo].[RouteSteps] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingResults] ON 

INSERT [dbo].[TrainingResults] ([ResultId], [SessionId], [UserId], [Score], [Accuracy], [Mistakes], [DurationSeconds], [AverageReactionSeconds], [BestReactionSeconds], [CreatedAt]) VALUES (1, 1, 1, 870, CAST(88.00 AS Decimal(5, 2)), 2, 102, CAST(1.40 AS Decimal(5, 2)), CAST(0.90 AS Decimal(5, 2)), CAST(N'2026-05-27T16:46:58.553' AS DateTime))
INSERT [dbo].[TrainingResults] ([ResultId], [SessionId], [UserId], [Score], [Accuracy], [Mistakes], [DurationSeconds], [AverageReactionSeconds], [BestReactionSeconds], [CreatedAt]) VALUES (2, 2, 1, 920, CAST(91.50 AS Decimal(5, 2)), 1, 95, CAST(1.20 AS Decimal(5, 2)), CAST(0.80 AS Decimal(5, 2)), CAST(N'2026-05-27T17:36:07.043' AS DateTime))
INSERT [dbo].[TrainingResults] ([ResultId], [SessionId], [UserId], [Score], [Accuracy], [Mistakes], [DurationSeconds], [AverageReactionSeconds], [BestReactionSeconds], [CreatedAt]) VALUES (3, 8, 4, 910, CAST(90.00 AS Decimal(5, 2)), 1, 100, CAST(1.30 AS Decimal(5, 2)), CAST(0.80 AS Decimal(5, 2)), CAST(N'2026-05-28T13:22:05.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[TrainingResults] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingSessions] ON 

INSERT [dbo].[TrainingSessions] ([SessionId], [UserId], [RouteType], [Difficulty], [TrainingType], [ConesCount], [Rounds], [DistractionsEnabled], [StartedAt], [EndedAt], [Status]) VALUES (1, 1, N'Custom', N'Medium', N'Football Dribbling', 4, 3, 1, CAST(N'2026-05-27T16:46:58.537' AS DateTime), CAST(N'2026-05-27T16:46:58.537' AS DateTime), N'Completed')
INSERT [dbo].[TrainingSessions] ([SessionId], [UserId], [RouteType], [Difficulty], [TrainingType], [ConesCount], [Rounds], [DistractionsEnabled], [StartedAt], [EndedAt], [Status]) VALUES (2, 1, N'Custom', N'Medium', N'Football Dribbling', 4, 3, 1, CAST(N'2026-05-27T17:33:54.847' AS DateTime), CAST(N'2026-05-27T17:36:07.060' AS DateTime), N'Completed')
INSERT [dbo].[TrainingSessions] ([SessionId], [UserId], [RouteType], [Difficulty], [TrainingType], [ConesCount], [Rounds], [DistractionsEnabled], [StartedAt], [EndedAt], [Status]) VALUES (3, 1, N'Custom', N'Medium', N'Football Dribbling', 4, 3, 1, CAST(N'2026-05-27T17:35:15.223' AS DateTime), NULL, N'Started')
SET IDENTITY_INSERT [dbo].[TrainingSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [DateOfBirth], [Role], [SportFocus], [CreatedAt]) VALUES (1, N'Anthony Makhoul', N'anthony@test.com', N'1234', CAST(N'2003-11-07' AS Date), N'Player', N'Football & Agility', CAST(N'2026-05-27T16:46:58.517' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [DateOfBirth], [Role], [SportFocus], [CreatedAt]) VALUES (2, N'Test Player', N'testplayer@gmail.com', N'1234', CAST(N'2002-10-12' AS Date), N'Player', N'Football & Agility', CAST(N'2026-05-27T17:20:39.420' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [DateOfBirth], [Role], [SportFocus], [CreatedAt]) VALUES (3, N'Joe Jabr', N'JoeJabr@gmail.com', N'joe123', NULL, N'Player', N'Football & Agility', CAST(N'2026-05-27T18:19:00.663' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053451649935]    Script Date: 5/28/2026 2:32:47 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Routes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TrainingResults] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TrainingSessions] ADD  DEFAULT ((1)) FOR [DistractionsEnabled]
GO
ALTER TABLE [dbo].[TrainingSessions] ADD  DEFAULT (getdate()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[TrainingSessions] ADD  DEFAULT ('Started') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Player') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_Routes_TrainingSessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[TrainingSessions] ([SessionId])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_Routes_TrainingSessions]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK_Routes_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK_Routes_Users]
GO
ALTER TABLE [dbo].[RouteSteps]  WITH CHECK ADD  CONSTRAINT [FK_RouteSteps_Routes] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Routes] ([RouteId])
GO
ALTER TABLE [dbo].[RouteSteps] CHECK CONSTRAINT [FK_RouteSteps_Routes]
GO
ALTER TABLE [dbo].[TrainingResults]  WITH CHECK ADD  CONSTRAINT [FK_TrainingResults_TrainingSessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[TrainingSessions] ([SessionId])
GO
ALTER TABLE [dbo].[TrainingResults] CHECK CONSTRAINT [FK_TrainingResults_TrainingSessions]
GO
ALTER TABLE [dbo].[TrainingResults]  WITH CHECK ADD  CONSTRAINT [FK_TrainingResults_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TrainingResults] CHECK CONSTRAINT [FK_TrainingResults_Users]
GO
ALTER TABLE [dbo].[TrainingSessions]  WITH CHECK ADD  CONSTRAINT [FK_TrainingSessions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TrainingSessions] CHECK CONSTRAINT [FK_TrainingSessions_Users]
GO
USE [master]
GO
